kgrcevic_aplikacija_2_1/web/WEB-INF/wsdl/localhost_8443/kgrcevic_aplikacija_1/MeteoServis.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.web.kgrcevic.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.web.kgrcevic.nwtis.foi.org/" name="MeteoServis">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.web.kgrcevic.nwtis.foi.org/" schemaLocation="https://localhost:8443/kgrcevic_aplikacija_1/MeteoServis?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://api.wxbug.net/" schemaLocation="https://localhost:8443/kgrcevic_aplikacija_1/MeteoServis?xsd=2" />
</xsd:schema>
</types>
<message name="nZadjnihMeteoPodataka">
<part name="parameters" element="tns:nZadjnihMeteoPodataka" />
</message>
<message name="nZadjnihMeteoPodatakaResponse">
<part name="parameters" element="tns:nZadjnihMeteoPodatakaResponse" />
</message>
<message name="nNajcescihZipova">
<part name="parameters" element="tns:nNajcescihZipova" />
</message>
<message name="nNajcescihZipovaResponse">
<part name="parameters" element="tns:nNajcescihZipovaResponse" />
</message>
<message name="podaciZaZipUIntervalu">
<part name="parameters" element="tns:podaciZaZipUIntervalu" />
</message>
<message name="podaciZaZipUIntervaluResponse">
<part name="parameters" element="tns:podaciZaZipUIntervaluResponse" />
</message>
<message name="zaSveZipove">
<part name="parameters" element="tns:zaSveZipove" />
</message>
<message name="zaSveZipoveResponse">
<part name="parameters" element="tns:zaSveZipoveResponse" />
</message>
<message name="zaJedanZip">
<part name="parameters" element="tns:zaJedanZip" />
</message>
<message name="zaJedanZipResponse">
<part name="parameters" element="tns:zaJedanZipResponse" />
</message>
<portType name="MeteoServis">
<operation name="nZadjnihMeteoPodataka">
<input wsam:Action="http://serveri.ws.web.kgrcevic.nwtis.foi.org/MeteoServis/nZadjnihMeteoPodatakaRequest" message="tns:nZadjnihMeteoPodataka" />
<output wsam:Action="http://serveri.ws.web.kgrcevic.nwtis.foi.org/MeteoServis/nZadjnihMeteoPodatakaResponse" message="tns:nZadjnihMeteoPodatakaResponse" />
</operation>
<operation name="nNajcescihZipova">
<input wsam:Action="http://serveri.ws.web.kgrcevic.nwtis.foi.org/MeteoServis/nNajcescihZipovaRequest" message="tns:nNajcescihZipova" />
<output wsam:Action="http://serveri.ws.web.kgrcevic.nwtis.foi.org/MeteoServis/nNajcescihZipovaResponse" message="tns:nNajcescihZipovaResponse" />
</operation>
<operation name="podaciZaZipUIntervalu">
<input wsam:Action="http://serveri.ws.web.kgrcevic.nwtis.foi.org/MeteoServis/podaciZaZipUIntervaluRequest" message="tns:podaciZaZipUIntervalu" />
<output wsam:Action="http://serveri.ws.web.kgrcevic.nwtis.foi.org/MeteoServis/podaciZaZipUIntervaluResponse" message="tns:podaciZaZipUIntervaluResponse" />
</operation>
<operation name="zaSveZipove">
<input wsam:Action="http://serveri.ws.web.kgrcevic.nwtis.foi.org/MeteoServis/zaSveZipoveRequest" message="tns:zaSveZipove" />
<output wsam:Action="http://serveri.ws.web.kgrcevic.nwtis.foi.org/MeteoServis/zaSveZipoveResponse" message="tns:zaSveZipoveResponse" />
</operation>
<operation name="zaJedanZip">
<input wsam:Action="http://serveri.ws.web.kgrcevic.nwtis.foi.org/MeteoServis/zaJedanZipRequest" message="tns:zaJedanZip" />
<output wsam:Action="http://serveri.ws.web.kgrcevic.nwtis.foi.org/MeteoServis/zaJedanZipResponse" message="tns:zaJedanZipResponse" />
</operation>
</portType>
<binding name="MeteoServisPortBinding" type="tns:MeteoServis">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="nZadjnihMeteoPodataka">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="nNajcescihZipova">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="podaciZaZipUIntervalu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="zaSveZipove">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="zaJedanZip">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MeteoServis">
<port name="MeteoServisPort" binding="tns:MeteoServisPortBinding">
<soap:address location="https://localhost:8443/kgrcevic_aplikacija_1/MeteoServis" />
</port>
</service>
</definitions>